/* CSS declarations go here */
.nopadding {
   padding: 0;
   margin: 0;
}

.scrollable{
	max-height: 200px;
  overflow:auto; 
}


.sameHeightRow {
    overflow: hidden; 
}
.sameHeightCol {
    margin-bottom: -32767px;
    padding-bottom: 32767px;
}

/*.row > [class*="col-"]{
    margin-bottom: -10000px;
    padding-bottom: 10000px;
}*/

/*.sameHeightRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.row > [class='sameHeighCol'] {
  display: flex;
  flex-direction: column;
}*/