/* CSS declarations go here */
#chatWrapper {
  height: 100px;
  overflow:auto; 
}

#chapp_wrapper {
  height: 100px;
}
#chapp-form {
  min-height:30px;
}

.nopadding {
   padding: 0;
   margin: 0;
}

.scrollable{
	max-height: 200px;
  overflow:auto; 
}


.sameHeightRow {
    overflow: hidden; 
}
.sameHeightCol {
    margin-bottom: -32767px;
    padding-bottom: 32767px;
}

.memberOnline {
  color: green;
  font-weight: bold;
}

.memberListHeader {
  text-decoration: underline;
  font-weight: bold;
}

.selectedGameControl {
  background-color: rgba(221, 221, 221, 0.98);
}

/*.row > [class*="col-"]{
    margin-bottom: -10000px;
    padding-bottom: 10000px;
}*/

/*.sameHeightRow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.row > [class='sameHeighCol'] {
  display: flex;
  flex-direction: column;
}*/